@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5e9;
  --foreground: #171717;
  --font-gmarket: 'GmarketSans', sans-serif;
  --screen-height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gmarket);
  height: var(--screen-height);
}
