@font-face {
  font-family: 'ChangwonDangamAsac';
  src: url('/fonts/ChangwonDangamAsac.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy.ttf') format('truetype');
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5e9;
  --foreground: #171717;
  --font-changwon: 'ChangwonDangamAsac', sans-serif;
  --font-paperlogy: 'Paperlogy', sans-serif;
  --screen-height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  height: var(--screen-height);
}
